# Ignore rider specific stuff
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# User-specific stuff
.idea/*
*.su
/Auction.Web/Auction.Web/obj
/Auction.Web/.vs/Auction.Web
/Auction.Web/Auction.Entity/obj
/Auction.Web/Auction.Infrastructure.EF/obj
/Auction.Web/.vs/ProjectEvaluation
/Auction.Web/Auction.Entity/bin/Debug/net6.0
/Auction.Web/Auction.Infrastructure.EF/bin/Debug/net6.0
/Auction.Web/Auction.Web/bin/Debug/net6.0
